---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import LeftSidebar from '../../components/LeftSidebar.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
const title = "Nicknames";
const description = "A collection of Pokémon nickname ideas.";

const posts = (await getCollection('nicknames')).sort(
	(a, b) => a.data.pokedexNumber.valueOf() - b.data.pokedexNumber.valueOf()
);
---

<Layout title={title} description={description}/>
<div class="container">
	<div class="flex-content">
		<main class="box">
			<h1 class="headings">{title}</h1>
			<p>This page is the index for all my nickname pages. Nicknaming by default didn't start for me until Sword and Shield and I thought I'd share my ideas with everyone.</p>
			<p>The index will be ordered by Pokedex number, from Bulbasaur to Terapagos.</p>
			<ul class="pokeball-icons">
				{posts.map((post) => (
					<li>
						<a href={`/nicknames/${post.slug}/`} class="blog-listing-title">{post.data.title}</a>
					</li>
					))
				}
			</ul>
		</main>
		<LeftSidebar />
		<Footer />
	</div>
</div>
			