---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import LeftSidebar from '../../components/LeftSidebar.astro';
import { getCollection } from 'astro:content';
const title = "My favourites";
const description = "These are a few of my favourite things.";

const posts = await getCollection('favourites', ({data}) => {
	return data.draft !== true;
}
);
---

<Layout title={title} description={description}/>
<div class="container">
	<div class="flex-content">
		<main class="box">
			<h1 class="headings">{title}</h1>
			<p>This page features all my favourites in Pokémon. It'll be mainly favourite Pokémon from each generation but I'll add other categories over time.</p>
			<p>You may notice that some of the pages look unfinished. For some reason, drafts don't quite work how I want them to so they end up published. So bare that in mind and eventually, I'll get round to finishing a list.</p>
			<ul class="pokeball-icons">
				{posts.map((post) => (
					<li>
						<a href={`/favourites/${post.slug}/`} class="blog-listing-title">{post.data.title}</a>
					</li>
					))
				}
			</ul>
		</main>
		<LeftSidebar />
		<Footer />
	</div>
</div>
			