---
import LayoutWithLCP from '../layouts/LayoutWithLCP.astro';
import Footer from '../components/Footer.astro';
import CurrentlyPlaying from '../components/CurrentlyPlaying.astro';
import LeftSidebar from '../components/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar.astro';
const description = "A Pokémon fan site dedicated to Centiskorch, a dual-type Fire/Bug Pokémon from the Galar region."
const title = "centiskor.ch | A Pokémon fan site";
const lcpMediaAs = "image";
const lcpSrc = "/images/centiskorch2.png";
const lcpMediaType = "image/gif";

---
<LayoutWithLCP title={title} description={description} lcpMediaAs={lcpMediaAs} lcpSrc={lcpSrc} lcpMediaType={lcpMediaType} />
<div class="container">
	<div class="flex-content">
		<div class="banner box"><h1 class="headings" style="text-align:center;">Welcome to Centikor.ch, <span style="display:block;">the home of the fire centipede!</span></h1></div>
		<main class="box">
			<div class="img-center">
				<img src={lcpSrc} alt="Centiskorch, a Fire/Bug Pokémon. It is based on a centipede and it is red and dark brown with a flame-shaped X on its face." width="250px" height="250px">
			</div>
			<p><smaller>Image credit: adapted from (<a href="https://www.pngmart.com/image/364905" target="_blank">Centiskorch Pokemon PNG Image</a>)</smaller></p>
			<p>Hey! This is centiskor.ch, my hybrid Pokémon fan site and homage to Centiskorch.</p>
			<p>I've been heavily inspired by a variety of sites, which you can read more about on <a href="/about/">my About page</a>.</p>
			<p>Pokémon has been my passion since 1998 and, despite a brief lull in the mid-to-late 00s, it's stronger than ever and this site is a manifestation of that obsession.</p>
			<p>Anyway, have a great time and enjoy your time here!</p>
			<CurrentlyPlaying sectionBackground="#e5e4e2" sectionColour="#282a50" h2Colour="#282a50" h3Colour="#c3413b" gameTitle="Pokémon Platinum" team="Horne the Prinplup // Gelco the Golem // Airwolf the Yanma // Party the Pachirisu // Molly the Houndoom // Rafferty the Togepi" firstBadge="16" lastBadge="21"/>
			<CurrentlyPlaying sectionBackground="#7640f7" sectionColour="#282a50" h2Colour="#282a50" h3Colour="#fff" gameTitle="Pokémon Crystal Clear" team="Hostgator the Feraligatr // Angelfire the Magcargo // Lycos the Crobat // Tiscali the Beedrill // Netscape the Skarmory // Winzip the Gloom" firstBadge="9" lastBadge="13"/>
		</main>
		<LeftSidebar />
		<RightSidebar />
		<Footer>
	</div>
</div>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "WebPage",
		"mainEntityOfPage": "https://centiskor.ch/",
		"description": "A Pokémon fan site dedicated to Centiskorch, a dual-type Fire/Bug Pokémon from the Galar region.",
		"image": ["https://centiskor.ch/images/centiskorch.gif"],
		"url": "https://centiskor.ch/",
		"about": [
			{
				"@type": "Thing",
				"name": "Centiskorch",
				"sameAs": ["https://www.wikidata.org/wiki/Q79335562", "https://bulbapedia.bulbagarden.net/wiki/Centiskorch_(Pok%C3%A9mon)", "https://pokemondb.net/pokedex/centiskorch", "https://www.serebii.net/pokedex-swsh/centiskorch", "https://www.pokemon.com/uk/pokedex/centiskorch"],
				"subjectOf": {
					"@type": "VideoGame",
					"name": "Pokémon Sword and Shield",
					"alternateName": "SwSh",
					"url": "https://swordshield.pokemon.com/en-gb/",
					"gamePlatform": "Nintendo Switch",
					"gameLocation": {
						"@type": "Place",
						"name": "Galar"
					}
				},
				"author": {
					"@type": "Organization",
					"name": "Game Freak",
					"url": "https://www.gamefreak.co.jp/"
				},
				"publisher": [
					{
						"@type": "Organization",
						"name": "Nintendo",
						"url": "https://www.nintendo.com"
					},
					{
						"@type": "Organization",
						"name": "The Pokémon Company",
						"url": "https://pokemon.com"
					}
				]
			}
		]
	}
</script>