---

const {
  site = "https://centiskor.ch",
  title,
  description,
  canonicalURL = Astro.url,
  robots
} = Astro.props;

const blogRssFeed = site + "/rss.xml";
---
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content={robots ? robots : "index, follow"}>
<title>{title}</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="preload" href="/fonts/Georama_Expanded-Black-subset.woff2" as="font" type="font/woff2" crossorigin="">
<link rel="preload" as="image" href="/images/851.png" type="image/png">
<link rel="preload" as="image" href="/images/Cherish_Ball_Sprite.png" type="image/png">
<script defer data-domain="centiskor.ch" src="https://plausible.io/js/script.js"></script>
<meta name="description" content={description}>
<link rel="icon" type="image/ico" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<meta property="og:type" content="website">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:url" content={canonicalURL}>
<meta property="og:image" content={site + "/images/851.png"}>
<link rel="canonical" href={canonicalURL} />
<link rel="alternate" type="application/rss+xml" title="Subscribe to the centiskor.ch blog!" href={blogRssFeed} />
<link rel="pgpkey" type="application/pgp-keys" href="https://keybase.io/lukealexdavis/pgp_keys.asc" />
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
</head>