---
import { getCollection } from 'astro:content';
const miscPages = await getCollection('misc', ({slug}) => {
	return slug.includes('links');
}); 

const logPages = await getCollection('logs'); 

const rooms = await getCollection('rooms');

---

<aside class="left-sidebar box">
	<h2 class="headings">Links</h2>
	<nav>
		<ul class="pokeball-icons">
			<li><a href="/">home</a></li>
			<li><a href="/about/">about me</a></li>
			<li><a href="/contact-me/">contact me</a></li>
			<li><a href="/blog/">blog</a></li>
			<li><a href="/favourites/">favourites</a></li>
			<li><a href="/nicknames/">nicknames</a></li>
			<li>music</li>
		</ul>
	</nav>
	<h2 class="headings"><a href="/logs/">Logs</a></h2>
	<nav>
		<ul class="pokeball-icons">
			{logPages.map((page) => (
					<li>
						<a href={`/logs/${page.slug}/`}>{page.data.title.toLowerCase()}</a>
					</li>
					))
				}
				<li>
					<a href="https://github.com/starchildluke/centiskorch/commits/main/">trainer's log</a>
				</li>
		</ul>
	</nav>
	<h2 class="headings"><a href="/misc/">Misc</a></h2>
	<nav>
		<ul class="pokeball-icons">
			{miscPages.map((page) => (
					<li>
						<a href={`/misc/${page.slug}/`}>{page.data.title.toLowerCase()}</a>
					</li>
					))
				}
		</ul>
	</nav>
	<h2 class="headings"><a href="/rooms/">Rooms</a></h2>
	<nav>
		<ul class="pokeball-icons">
			{rooms.map((room) => (
					<li>
						<a href={`/rooms/${room.slug}/`}>{room.data.title.toLowerCase()}</a>
					</li>
					))
				}
			<li><a href="https://www.youtube.com/watch?v=QcD_YXCxxZM">the third room</a></li>
		</ul>
	<h2 class="headings">Codes</h2>
	<ul>
		<li><strong>Switch</strong> - SW-2820-1672-9128</li>
		<li><strong>Pokémon Go</strong> - 8215 6343 8903</li>
	</ul>
	</nav>
</aside>