---
import { getCollection } from 'astro:content';

const { query } = Astro.props;

const allBlogs = await getCollection('blog', ({slug}) => {
	return slug.includes(query);
}); 

const allFaves = await getCollection('favourites', ({slug}) => {
	return slug.includes(query);
}); 

const allLogs = await getCollection('logs', ({slug}) => {
	return slug.includes(query);
}); 

const allMisc = await getCollection('misc', ({slug}) => {
	return slug.includes(query);
});

const allNames = await getCollection('nicknames', ({slug}) => {
	return slug.includes(query);
});

---

<ul class="pokeball-icons">
	{allBlogs.map((post) => (
		<li>
			<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
		</li>
		))
	}
	{allFaves.map((post) => (
		<li>
			<a href={`/favourites/${post.slug}/`}>{post.data.title}</a>
		</li>
		))
	}
	{allLogs.map((post) => (
		<li>
			<a href={`/logs/${post.slug}/`}>{post.data.title}</a>
		</li>
		))
	}
	{allMisc.map((post) => (
		<li>
			<a href={`/misc/${post.slug}/`}>{post.data.title}</a>
		</li>
		))
	}
	{allNames.map((post) => (
		<li>
			<a href={`/nicknames/${post.slug}/`}>{post.data.title}</a>
		</li>
		))
	}
</ul>