---
import BaseHeadWithLCP from '../components/BaseHeadWithLCP.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	canonicalURL: string;
	lcpMediaAs: string;
	lcpSrc: string;
	lcpMediaType: string;
}

const { title, description, lcpMediaAs, lcpSrc, lcpMediaType, canonicalURL = Astro.url } = Astro.props;
---

<html lang="en" id="top">
	<BaseHeadWithLCP title={title} description={description} lcpMediaAs={lcpMediaAs} lcpSrc={lcpSrc} lcpMediaType={lcpMediaType} canonicalURL={canonicalURL} />
	<body>
	<Header />
		<slot />
	</body>
</html>